<f:layout name="Default" />

<f:section name="Title">A list of entries</f:section>

<f:section name="Content">
	<h1>Erstelle dir jetzt einen Account!</h1>
	<f:form action="create" method="post" name="registerform" controller="User" class="form-horizontal">
		<fieldset>
			<legend>Account Informationen</legend>
			<div class="control-group">
				<label for="username" class="control-label">Benutzername:</label>
				<div class="controls">
					<f:form.textfield name="username" class="input" />
				</div>
			</div>

			<div class="control-group">
				<label for="password" class="control-label">Passwort:</label>
				<div class="controls">
					<f:form.password name="password" class="input" />
				</div>
			</div>
			
			<div class="control-group">
				<label for="password" class="control-label">Wiederholung:</label>
				<div class="controls">
					<f:form.password name="password_repeat" class="input" />
				</div>
			</div>
			
			<legend>Persönliche Informationen</legend>

			<div class="control-group">
				<label for="name" class="control-label">Name:</label>
				<div class="controls">
					<f:form.textfield name="name" class="input" />
				</div>
			</div>
			
			<div class="control-group">
				<label for="email" class="control-label">E-Mail:</label>
				<div class="controls">
					<f:form.textfield name="email" class="input" />
				</div>
			</div>
			
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Login" tabindex="3" />
			</div>
		</fieldset>
	</f:form>
</f:section>

<f:section name="Sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li><f:link.action action="login"><i class="icon-user"></i> Login</f:link.action></li>
		<li class="active"><f:link.action action="register"><i class="icon-heart"></i> Registrieren</f:link.action></li>
		<li><f:link.action action="password"><i class="icon-question-sign"></i> Kennwort vergessen?</f:link.action></li>
	</ul>
</f:section>