<f:layout name="Default" />

<f:section name="Title">A list of entries</f:section>

<f:section name="Content">
	<f:if condition="{entries}">
		<f:then>
			<ul>
				<f:for each="{entries}" as="entry">
					<li>
						<f:link.action action="show" arguments="{entry: entry}"><f:format.date>{entry.date}</f:format.date></f:link.action>
						{entry.user.username}
						<f:link.action action="edit" arguments="{entry: entry}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{entry: entry}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No entries created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new entry</f:link.action></p>
</f:section>

<f:section name="Sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><f:link.action action="index"><i class="icon-list-alt"></i> Übersicht</f:link.action></li>
		<li><f:link.action action="new"><i class="icon-plus-sign"></i> Neuer Eintrag</f:link.action></li>
		<li><f:link.action action="import"><i class="icon-upload"></i> Importieren</f:link.action></li>
	</ul>
</f:section>