<f:layout name="Default" />

<f:section name="Title">Neuer Eintrag</f:section>

<f:section name="Content">
	<f:form action="create" name="newEntry" class="form-horizontal">
		<fieldset>
			<legend>Neuen Eintrag anlegen</legend>
			<div class="control-group">
				<label class="control-label" for="work">Beschreibung:</label>
				<div class="controls">
					<f:form.textarea property="work" rows="3" cols="50" id="work" class="input-xlarge" />
				</div>			
			</div>
			<div class="control-group">
				<label class="control-label" for="date">Datum:</label>
				<div class="controls">
					<f:form.textfield property="date" id="date" />
				</div>
			</div>		
			<div class="control-group">
				<label class="control-label" for="holiday">Urlaub:</label>
				<div class="controls">
					<f:form.checkbox property="holiday" id="holiday" value="true" checked="" />
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label" for="school">Schule:</label>
				<div class="controls">
					<f:form.checkbox property="school" id="school" value="true" checked="" />
				</div>
			</div>	
			<div class="form-actions">
				<f:form.submit class="btn btn-primary" value="Speichern" />
			</div>			
		</fieldset>		
	</f:form>
</f:section>

<f:section name="Sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li><f:link.action action="index"><i class="icon-list-alt"></i> Übersicht</f:link.action></li>
		<li class="active"><f:link.action action="new"><i class="icon-plus-sign"></i> Neuer Eintrag</f:link.action></li>
		<li><f:link.action action="import"><i class="icon-upload"></i> Importieren</f:link.action></li>
	</ul>
</f:section>