<f:layout name="Default" />

<f:section name="Title">A list of entries</f:section>

<f:section name="Content">
	<f:form action="authenticate" method="post" name="loginform" class="form-horizontal">
		<fieldset>
			<legend>Logge dich ein:</legend>
			<div class="control-group">
				<label for="username" class="control-label">Benutzername:</label>
				<div class="controls">
					<f:form.textfield name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][username]" class="input" />
				</div>
			</div>

			<div class="control-group">
				<label for="password" class="control-label">Passwort:</label>
				<div class="controls">
					<f:form.password name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][password]" class="input" />
				</div>
			</div>
			
			<p>
				Besitzt du noch keinen Account? <f:link.action action="register" controller="Login">Dann registriere dich hier!</f:link.action><br />
				<f:link.action action="password" controller="Login">Oder hast du vielleicht dein Passwort vergessen?</f:link.action>
			</p>

			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Login" tabindex="3" />
			</div>
		</fieldset>
	</f:form>
</f:section>

<f:section name="Sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><f:link.action action="login"><i class="icon-user"></i> Login</f:link.action></li>
		<li><f:link.action action="register"><i class="icon-heart"></i> Registrieren</f:link.action></li>
		<li><f:link.action action="password"><i class="icon-question-sign"></i> Kennwort vergessen?</f:link.action></li>
	</ul>
</f:section>